<!DOCTYPE html>
<html>
  <body>
    <h2>Authorized</h2>
    {% for row in response.results %}
    <p>
      <strong>{{ row.first_name }} {{ row.last_name }}</strong>
      {% if row.date_of_birth %}
        <br>{{ row.date_of_birth }}
      {% else %}
        <br><em>No date of birth listed</em>
      {% endif %}
      {% if row.email %}
        <br>{{ row.email }}
      {% else %}
        <br><em>No email listed</em>
      {% endif %}
    </p>
    {% endfor %}
    <!-- p>response = {{ response }}</p>
    <p>row = {{ row }}</p>
    <p>token = {{ token }}</p -->
  </body>
</html>
